*{
  font-family:'Playfair Display', serif;
}

h1, h2, h3, h4 {
  /* font-style: italic; */
  font-weight: 400;
  color: rgb(255, 255, 255);
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* ヘッダーのところ */
header{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  z-index: 10;
  top:0;
}

#menu {
  line-height: 60px;
  background-color: rgb(0, 0, 0);
  list-style: none;
  display: flex;
  padding: 0%;
  margin: 0%;
}

#logo {
  font-weight: bold;
  font-size: 3em;
  background-color: rgb(215,18,33,0.9);
  width: 10%;
  text-align: center;
  margin: 0%;
}

#topPage {
  font-weight: bold;
  font-size: 3em;
  background-color: rgb(0, 0, 0);
  width: 40%;
  text-align: center;
  margin: 0%;
}

#TypeMenu {
  width: 20%;
  font-weight:bold;
  font-size: 1.8em;
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin: 0%;
}

#eachMenu {
  font-size: 1.8em;
  background-color: rgb(0, 0, 0);
  width: 10%;
  text-align: center;
  margin: 0%;
}

#eachMenu:hover {
  background-color: rgb(50, 50, 50);
}

/* 説明のところ */
body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding-top: 100px;
}

.description_text{
  margin-top: 5%;
  margin-bottom: 2%;
  margin-right: 5%;
  margin-left: 5%;
  padding: 0%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  height: 50%;
}

.description_text h1{
  text-decoration:underline;
}

.description{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 5%;
  margin-left: 5%;
  padding: 2%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  color: black;
}

.picture1 {
  align-self: auto;
  flex-basis: 50%;
  margin-top: 20px;
}

.picture2 {
  background-color: rgb(255,255,255);
  align-self: auto;
  flex-basis: 50%;
  font-size:150%;
  padding-left: 5%;
  margin-top: 120px;
}


/* 検索のところ*/
label {
  color: rgb(255, 255, 255);
}

input[type="text"],

button {
  font-size: 2em;
}

#objects {
  margin-top: 5%;
  margin-bottom: 2%;
  margin-right: 5%;
  margin-left: 5%;
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  width: calc(5 * 210px);
}

.object {
  box-sizing: border-box;
  display: inline-block;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 5px;
  padding: 5px;
  width: 240px;

  min-height: 180px;
  border-radius: .5em;
  font-size: .8em;
}

.object.off {
  display: none;
}

.thumbnail {
  max-width: 200px;
  max-height: 200px;
}

#SearchResults {
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
  text-decoration:underline;
  font-style: italic;
  font-size: 34px;
  color: rgb(255, 255, 255);
}

#count {
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

/* By size of animalのところ*/
.search_text{
  margin-top: 5%;
  margin-bottom: 2%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.search_text h1{
  text-decoration:underline;
}

#buttons {
  margin-right: 5%;
  margin-left: 5%;
  list-style: none;
  display: flex;
  background-color: rgb(0, 0, 0);
}
 
#buttons li {
  margin-left: 2%;
  width: 14%;
  text-align: center;
  background-color: rgb(202, 202, 202);
}

#buttons li img{
  margin-top: 5%;
}

/* ボタン本体のところ*/
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  margin: 0em 0;
  padding: 0em;
  font-size: 1em;
  background-color: rgb(202, 202, 202);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 0;
  transition: 0.3s;
  width: 100%;
}
button img {
  padding: 0;
}

button p {
  margin: 0;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  width: 100%;
  background-color: rgb(133, 133, 133);
}

button p:hover {
  background-color: rgb(185, 0, 0);
}

footer{
  margin-left: 5%;
  font-size: 0.8em;
  color: rgb(124, 124, 124);
}

footer a {
  color: rgb(124, 124, 124);
}