*{
  font-family:'Playfair Display', serif;
}

h1, h2, h3, h4 {
  /* font-style: italic; */
  font-weight: 400;
  color: rgb(255, 255, 255);
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* ヘッダーのところ */
header{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  z-index: 10;
  top:0;
}

#menu {
  line-height: 60px;
  background-color: rgb(0, 0, 0);
  list-style: none;
  display: flex;
  padding: 0%;
  margin: 0%;
}

#logo {
  font-weight: bold;
  font-size: 3em;
  background-color: rgb(215,18,33,0.9);
  width: 10%;
  text-align: center;
  margin: 0%;
}

#topPage {
  font-weight: bold;
  font-size: 3em;
  background-color: rgb(0, 0, 0);
  width: 40%;
  text-align: center;
  margin: 0%;
}

#TypeMenu {
  width: 20%;
  font-weight:bold;
  font-size: 1.8em;
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin: 0%;
}

#eachMenu {
  font-size: 1.8em;
  background-color: rgb(0, 0, 0);
  width: 10%;
  text-align: center;
  margin: 0%;
}

#eachMenu:hover {
  background-color: rgb(50, 50, 50);
}


/* 説明のところ */
body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding-top: 100px;
}

.TopImage h1{
  text-align: center;
  background-color:rgba(255, 255, 255, 0.815);
  width: 30%;
  color:black;
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 38px;
  font-style: italic;
  line-height: 40px;
  padding: 30px;
  padding-top:50px;
  padding-bottom:50px;
  transform: translate(180%,-170%);
}

.des h1{
  position:relative;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  margin-top: -10%;
  margin-bottom: 5%;
}

hr {
  width: 95%;
  color: rgb(194, 194, 194);
}

/* 各ページのところ */
.contents{
  font-weight: bold;
  font-size: 1.8em;
  margin-top: 6%;
  margin-bottom: 3%;
  margin-right: 5%;
  margin-left: 5%;
  position:relative;
  text-decoration:underline;
  text-decoration-color:rgb(255, 255, 255);
}

.description{
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 5%;
  margin-left: 5%;
  padding: 3%;
  background-color: rgb(50, 50, 50);
  height: 30%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.picture1 {
  align-self: auto;
  flex-basis: 50%;
}

.picture2 {
  align-self: auto;
  flex-basis: 50%;
  font-size: 1.5em;
  padding-left: 10%;
}

.picture2 h4 {
  background-color: rgb(95, 95, 95);
  text-align: center;
  margin-right: 10%;
  margin-left: 60%;
  padding: 1%;
  border-radius: 0.1em;
}

.picture2 h4:hover {
  background-color: rgb(215,18,33,0.9);
}

footer{
  margin-left: 5%;
  font-size: 0.8em;
  color: rgb(124, 124, 124);
}

footer a {
  color: rgb(124, 124, 124);
}